/* header {
  position:relative;
  box-shadow: 2px 2px 5px rgb(58, 0, 58);
  display: flex;
}
 
header nav a {
  color: rgb(58, 0, 58);
  text-decoration: none;
  font-size: 1rem;
}
header nav ul{
    padding-left: 500px;
    display: flex;
    flex-flow: wrap;
    list-style: none;
    align-content: center;
    gap: 40px;
}
a:hover {
  color: white;
}

body{
    background-color: #D8BBF3;
}
h1,
h2,
h3{
font-family: 'Dancing Script', cursive;
color: rgb(58, 0, 58);
}
h1{
  font-size: 4rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size: 1.5rem;
}

img {
  width: 100%;
} */